<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cachirulop.logmytrip"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".LogMyTripApplication"
        android:allowBackup="true"
        android:backupAgent="LogMyTripBackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cachirulop.logmytrip.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.JourneyDetailActivity"
            android:label="@string/action_journey_detail"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cachirulop.logmytrip.activity.MainActivity"/>
        </activity>

        <service android:name=".service.LogMyTripServiceGooglePlayServices"/>
        <service android:name=".service.BluetoothService"/>
        <service
            android:name=".service.FetchAddressService"
            android:exported="false"/>

        <receiver
            android:name=".receiver.BootCompletedBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LocationReceiver"/>
        <receiver android:name=".receiver.NotifyReceiver"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIIGYVm_uw1pPqlIQu_uWGBbJAMI-CgBg4WuXmvw"/>

    </application>

</manifest>
